[Unit]
 Description=Automatic Update Finder (checkupdates): 1 minute after boot then every 15 minutes

[Timer]
 OnBootSec=1min
 OnUnitActiveSec=15min
 Unit=checkupdates.service

[Install]
 WantedBy=default.target
