[Unit]
 Description=Automatic Updates Finder (checkupdates): 30 seconds after boot then every 30 minutes

[Timer]
 OnBootSec=30s
 OnUnitActiveSec=30min
 Unit=checkupdates.service

[Install]
 WantedBy=default.target
