[Unit]
 Description=Automatic Updates Finder (checkupdates): 1 minute after boot then every 30 minutes

[Timer]
 OnBootSec=1min
 OnUnitActiveSec=30min
 Unit=checkupdates.service

[Install]
 WantedBy=default.target
