[Unit]
 Description=Automatic Updates Finder (checkupdates)
 After=network-online.target

[Service]
 Type=oneshot
# ExecStart=/usr/bin/sh -c '/usr/bin/trickle -s -d 250 /usr/bin/checkupdates | wc -l > /tmp/checkupdates'
 ExecStart=/usr/bin/sh -c '/usr/bin/checkupdates > /tmp/checkupdates'
 TimeoutStopSec=60
 KillMode=process
 KillSignal=SIGINT

[Install]
 WantedBy=default.target
