<head>
<META http-equiv="content-type" content="text/html;charset=utf-8">
<title>Bookmark file</title>
</head>
     You can delete links using the remove bookmark command.  It is usually
     the 'R' key but may have been remapped by you or your system
     administrator.<br>
     This file also may be edited with a standard text editor to delete
     outdated or invalid links, or to change their order.

<!--
Note: if you edit this file manually
      you should not change the format within the lines
      or add other HTML markup.
      Make sure any bookmark link is saved as a single line.
-->

<p>
<ol>
<LI><a href="https://duckduckgo.com/lite/">DuckDuckGo</a>
<LI><a href="https://www.youtube.com/feed/subscriptions">Subscriptions - YouTube</a>
